<h1>Signed in</h1>

<!-- Add javascript to  -->
<form action="">
    <label for="type"></label>
    <select name="type" id="type">
        <option value="school">school</option>
        <option value="food">Food</option>
        <option value="investments">Investments</option>
    </select>
    <input type="text" name="item" id="item">


</form>