<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Signed in</h1>


<!-- Total -->
<h2>Total:</h2>
<!-- Add javascript to  -->
<h2>Add a Event</h2>
<form action="/event/createEvent" enctype="multipart/form-data" method="POST">
<!-- 
    <label for="type">Type</label>
    <select name="type" id="type">
        <option value="school">School</option>
        <option value="food">Food</option>
        <option value="investments">Investments</option>
        <option value="clothes">Clothes</option>
    </select> -->
   

    <label for="amount" >Amount</label>
    <input type="text" id="amount" name="amount" placeholder="Amount Spend">

    <!-- <label for="subs"></label>
    <input type="text" id="subs" name="subs"> -->

    <button type="submit" value="Upload">Submit</button>

</form>

<div class="navbar">
    
</div>

</body>
</html>