
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<body onload="addSubs()">
    <div class="container">
    <h1>Signed in</h1>
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<!-- Budget-->
<div class="row">
    <div class="col-lg-6">
        <h2>Budget</h2>
    </div>

</div>


<!--Spending row -->
<div class="row">
    <div class="col-lg-6">
    <h2>Spending</h2>
    <form action="/event/createEvent"  method="POST">

        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="School">School</option>
            <option value="Food">Food</option>
            <option value="Investments">Investments</option>
            <option value="Housing">Housing</option>
            <option value="Utilities">Utilities</option>
            <option value="Transportation">Transportation</option>
            <option value="Savings">Savings</option>
            <option value="Recreation">Recreation</option>
            <option value="Medical">Medical</option>
            <option value="Personal">Personal</option>
            <option value="Miscellaneous">Miscellaneous</option>
        </select>
    
        <label for="amount" >Amount</label>
        <input type="text" id="amount" name="amount" placeholder="Amount Spend">

        <button type="submit" value="Upload">Submit</button>
    </form>
</div>

<div class="col-lg-6">
    <div class="col-lg-3">
        <% for(var i=0; i<events.length; i++) {%>
           <div class="box">
                <p><%= events[i].type%></p><p id="totalEvents"><%= events[i].amount%></p>
            </div>
          <% } %>    
    </div>
    
    <!-- Example FINDSUB -->
    <form action="/event/findSub" method="POST">
        <button type="submit" value="Upload">Submit</button>
    </form>

    <!--  -->
    <div class="flexList">
        <ul >
            <li>Personal</li>
            <p>0</p>
            <li>Food</li>
            <p>0</p>
            <li>Investments</li>
            <p>0</p>
        </ul>
        <ul >
            <li>Housing</li>
            <p>0</p>
            <li>Utilities</li>
            <p>0</p>
            <li>Transportation</li>
            <p>0</p>
        </ul>
        <ul >
            <li>Recreation</li>
            <p>0</p>
            <li>Medical</li>
            <p>0</p>
            <li>Miscellaneous</li>
            <p>0</p>
        </ul>
    </div>
</div>
</div>


<div class="row">
<div class="col-lg-6">
    <h2>Subscriptions</h2>
    <form action="/event/createSub"  method="POST">

        <label for="name">Subscription</label>
        <input type="text" id="name" name="name" placeholder="Name of Subscription">
    

        <label for="amountSub" >Amount</label>
        <input type="number" id="amountSub" name="amountSub" placeholder="Amount a month">

        <button type="submit" value="Upload">Submit</button>
    </form>
</div>


<div class="col-lg-3">
    <% for(var i=0; i<sub.length; i++) {%>
       
        <p><%= sub[i].name%></p><span id="totalSubs"><%= sub[i].amount%></span>
        
      <% } %>    
</div>

<div class="col-lg-3">
    <p id="total"></p>
</div>


</div>



</div>
</body>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/d3.js"></script>

</html>