<h1>Signed in</h1>


<!-- Total -->
<h2>Total:</h2>
<!-- Add javascript to  -->
<h2>Add a Event</h2>
<form action="/event/createEvent" enctype="multipart/form-data" method="POST">

    <label for="type"></label>
    <select name="type" id="type">
        <option value="school">School</option>
        <option value="food">Food</option>
        <option value="investments">Investments</option>
        <option value="clothes">Clothes</option>
    </select>

    <label for="amount" ></label>
    <input type="number" id="amount" name="amount">

    <!-- <label for="subs"></label>
    <input type="text" id="subs" name="subs"> -->

    <button type="submit" value="Upload">Submit</button>

</form>