.box{
    border: solid 1px black;
    margin: .4rem;
   
}
.flexList{
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: #121229;
    margin-top: 1rem;
   

}
li{
    text-align: center;
    list-style: none;
    color: white;
}
.spendingFlex{
    display: flex;
}
.flexBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa{
  border: none;
}
form input[type="text"] {
    text-transform: lowercase;
}
.scrollView{
    height: 15rem;
    overflow: auto;
}
#total{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 15rem;
            font-size: 8rem;
}
.incomeSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.income{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
   
}
.incomeText{
    color:white;
   position: relative;

   

}
.background{
    background-color: #121229;
 
}
.backgroundRight{
    background-color: #121229;
    color: white;
    margin-left: 1rem;
 
}
body{
    width: auto;
    height: auto;
    background-color: rgb(50, 64, 87);
    overflow:auto;
}
.spendingBg{
    background-color: #121229;
    

}
.subScrollbox{
    display: flex;
    justify-content: space-around;
}
.row{
    margin-top: 1rem;
}

.graphBg{
    background-color: #121229;
    margin-left: 1rem;
    color:white;
}
.white{
    color: white;
}
.subBg{
    background-color: #121229;
    
}.scrollBg{
    background-color: #121229;
    margin-left: 1rem;
}

Form{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
   
}
p,span{
    color: white;
}

.shawdow{box-shadow: .5rem .5rem black;
}
.navbar{
    background-color: #6351ce;
}
.navBarText{
    color: #121229;
    font-weight: bold;
}
button{
    background-color: #6351ce ;
    
}
.navbtn{
    background-color: #121229;
}
.btnmargin{
    margin-top: 1rem;
}
.btnIndex{
    background-color: #121229;
    color: white;
    margin-right: 1rem;
}